* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    color: #2C4058;
    padding-top: 30px;
}

.row-pad {
    padding-top: 80px;
}

.line {
    margin-top: 127px;
}

.picture {
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

.row-pad-1 {
    padding-top: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 114px;
    padding-bottom: 127px;
}

.btn {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 17px 62px;
    outline: none;
    border: 1px solid #2C4058;
    background: #fff;
}

.picture:hover {
    filter: sepia(100%);
}