* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.width-cont {
    max-width: 1200px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    margin-top: 96px;
 }
 
.title {
    font-family: Roboto;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    padding-top: 30px;
    text-transform: uppercase;
    color: #2C4058;
}

.row-pad {
    padding-top: 80px;
}

.row-pad-1 {
    padding-top: 30px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 105px;
}

.btn {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 17px 62px;
    outline: none;
    border: 1px solid #2C4058;
    background: #fff;
}

.btn:focus {
    background-color: #2C4058;
}

.picture {
   width: 100%;
   height: auto;
   transition: all 1s ease;
   
}

.picture:hover {
    filter: sepia(100%);
    
}